/* Custom Backgrounds */
.soft-rains {
	background-image:url(artistes/softrains.jpg);
}

/* /Custom Backgrounds */


/*========== Generals ==========*/
body, html {
	margin:0;
	padding:0;
	height:100%;
}
img {
	border:0;
}
html {
	overflow-y:scroll;
}
iframe {
	border:0;
	margin-bottom:8px;
} 
/*========== /Generals ==========*/


/*========== Fonts & Format ==========*/
body {
	background:#F1F1F1;
	font-family:'Arial';
	font-size:14px;
	line-height:16px;
	font-weight:normal;
	color:#333;
}
p, h1, h2, h3 {
	margin-bottom:16px;
	margin-top:0;
	margin-left:0;
	padding:0;
}
h2 {
	font-size:18px;
	font-weight:bold;
	line-height:18px;
}
a {
	color:#555;
	text-decoration:none;
}

a:hover {
	color:#9B4D4D;
}
a:active:hover {
	color:#dd6611;
}
blockquote {
	padding:12px 40px 1px;
	margin:0 0 16px;
	background:url(blockquote.png) 4px 4px no-repeat;
	background-color:#ddd;
	border:1px solid #bbb;
}
.floated {	
	width:385px;
	float:left;
}
.left {
	float:left;
}
.right {
	float:right;
}
hr {
	outline:0;
	border:0;
	margin:0;
	padding:0;
}
.spacer, hr {
	height:0px;
	border-bottom:1px solid #aaa;
	margin-bottom:16px;
	clear:both;
}
/*========== /Fonts & Format ==========*/


/*========== Icons ==========*/
i span {
	position:absolute;
	top:-10000px;
}
/*========== /Icons ==========*/

/*========== Header ==========*/
.header {
	height:80px;
	background:#9B4D4D;
	overflow:hidden;
	border-bottom:1px solid #444;
	
}	
.site_title {
	height:80px;
	color:#eee!important;
	display:block;
	outline:0;
	text-shadow:0px -1px 0px rgba(0,0,0,0.2);
	-moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
	-webkit-text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
	-o-text-shadow: 0px 1px 0px rgba(255,255,255,0.2);

}
.title {
	font-size:70px;
	line-height:70px;
	font-weight:bold;
	letter-spacing:-15px;
	left:0;
	bottom:0;
		margin-left:8px;
}
.subtitle {
	position:absolute;
	margin-left:8px;
	bottom:3px;
	left:0;
	letter-spacing:0.8px;
	font-size:12px;
	font-weight:bold;
	display:block;
	font-variant:small-caps;
}
/*========== /Header ==========*/

/*========== Footer ==========*/
.footer {
	padding:8px 20px;
	background:#333;
	color:#888;
	border-top:1px solid #666;
	font-size:12px;
}
.footer-logo {
	float:left;
	margin-right:8px;
}

/*========== /Footer ==========*/
.header {
    background:#9B4D4D
}

body {
    background:#F1F1F1
}
a:hover {
   color:#9B4D4D;
}
/*========== Menu ==========*/
.nav {
	background:#555;
	background:linear-gradient(#555,#666);
	background:-moz-linear-gradient(#555,#666);
	background:-webkit-linear-gradient(#555,#666);
	background:-o-linear-gradient(#555,#666);
	margin:0 auto;
	height:30px;
	border-bottom:6px solid #ABABAB;
	border-top:1px solid #777;
	font-variant:small-caps;
	z-index:10;
	position:relative;
}
.nav a {
	display:block;
	line-height:30px;
	padding:0 8px;
	color:#ddd!important;
	font-weight:bold;
	outline:0;
}
.nav .wrapper > ul {
	text-align:left;
}
.nav .wrapper > ul > li {
	float:left;
	text-align:center;
}
.nav ul, .nav li {
	margin:0;
	padding:0;
	list-style:none;
}
.menu-item {
	position:relative;
}	
.submenu {
	display:none;
	position:absolute;
	top:30px;
	z-index:10;
	width:150px;
	margin-left:-75px!important;
	left:50%;
	background:#333;
	border-top:6px solid #aaa;
}
.submenu li {
	background:#333;
	border-bottom:1px solid #4D4D4D;
	border-left:1px solid #4D4D4D;
	border-right:1px solid #4D4D4D;
	position:relative;
}
.submenu-item {
	display:block;
	min-height:30px;
}
.relative {
	position:relative;
	z-index:100;
}
.menu-item:hover .submenu {
	display:block;
}
.menu-item > a.active, .menu-item > a:hover, .menu-item > a:focus {
	background:#888;
}
.submenu-item > a.active, .submenu-item > a:hover , .submenu-item > a:focus {
	background:#5D5D5D;
}
.submenu-item a:hover  .submenu-arrow, .submenu-item a:focus  .submenu-arrow, .submenu-item a.active  .submenu-arrow {
	border-bottom:6px solid #5D5D5D;
}
.submenu-arrow {
	position:absolute;
	width:0px;
	height:0px;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #333;
	display:block;
	top:-6px;
	left:71px;
	z-index:5;
}
/*========== /Menu ==========*/





/*========== Container ==========*/
.wrapper {
	width:975px;
	margin:0 auto;
	position:relative;
}
.container {
	position:relative;
	min-height:100%;
	height:auto;
	z-index:1;
	border-bottom:1px solid #111;
	padding-bottom:16px;
	
}
.content {
	width:700px;
	padding-right:0px;
	margin-top:8px;
	overflow:hidden;
	*height:100%;
	 float:left;
}
.aside {
	width:251px;
	margin-top:8px;
	float:right;
	font-size:12px;
}
/*========== /Container ==========*/


/*========== Content ==========*/
.ariane {
	color:#555;
}
.ariane a {
	display:inline-block;
}

.blocklink {
	clear:both;
	display:block;
	margin-bottom:8px;
	background-color:#ddd;
	padding:12px;
	border:1px solid #bbb;
	outline:0;
	position:relative;
	overflow:hidden;
}
.blocklink .blocklink {
	padding:8px;
	background-image:linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05));
}
.blocklink > :last-child, .blocklink > .last-child {
	margin-bottom:0px;
}
.blocklink:focus {
	border-color:#444;
}
.blocklink.active {
	background-image:linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.07));
	background-image:-moz-linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.07));
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.07));
	background-image:-o-linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.07));
}
a.spip_out, a.spip_mail, a.spip_in, a.spip_url {
	font-weight:bold;
	border-bottom:1px dotted;
}

.logo, .spip_documents_left {
	float:left;
	margin-right:8px;
	margin-bottom:8px;
	min-width:80px;
}
.logo img, .spip_documents img {
	display:block;
	border:1px solid #aaa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.preview {
	margin-left:92px;
}
.article-date {
	font-size:15px;
}
.clear {
	clear:both;
	width:100%;
	height:1px;
}
.container {
	background-position:center;
	background-size:cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
#filter {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(filter.png);
	background-attachment:fixed;
}
.minmax {
	color:#aaa;
}
.wrapper-content {
	background:#eee;
	background:rgba(241,241,241,0.9);
	padding:8px 8px 0px;
	width:959px;
	overflow:hidden;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-o-border-bottom-left-radius:4px;
	-o-border-bottom-right-radius:4px;
	
	box-shadow:0 0 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	-o-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
}
.footer{
	box-shadow:0 0 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	-o-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);}
/*========== /Content ==========*/

/*========== Carousel ==========*/
#carousel {
	padding:16px;
	margin-bottom:16px;
}
.swiper-container {
    width:100%;
    border: 1px solid #999;	
}
.swiper-caption {
    width:auto;
}
.carousel-left, .carousel-right {
	width:16px;
	height:16px;
	position:absolute;
	z-index:8;
	padding: 8px;
	top: 50%;
	margin-top: -16px;
	background: #ddd;
	background: inherit;
	border-radius: 16px;
	-webkit-border-radius:16px;
	-moz-border-radius:0;
	-o-border-radius:0;
	outline: 0;
	text-align:center;
}
.carousel-left {
	left:-1px;
	border-right:1px solid #999;
}
.carousel-right {
	right:-1px;
	border-left:1px solid #999;
}

/*========== /Carousel ==========*/

/*========== Agenda ==========*/
.agenda {
	text-align:justify;
	background:#ddd;
	font-size:12px;
	padding:8px 8px 0px;
	border:1px solid #bbb;
	margin-bottom:8px;
}
.agenda-date {

}
.agenda-title {
	font-weight:bold;
	display:block;
}

.event-info, .event-date, .event-place, .event-price {
	background:#ddd;
	padding:12px;
	border:1px solid #bbb;
	margin-bottom:8px;	
	display:block;
}
/*========== /Agenda ==========*/

/*========== Form ==========*/
.formulaire_spip .cadre{border:1px solid #9DBA00}
h3.titrem{position:relative}
.formulaire_spip h3.titrem{background-color:#cedd80;color:#4A4A4A}
.formulaire_spip fieldset{padding-left:10px;padding-right:10px}
.formulaire_spip ul{padding:.34625em 0}
.formulaire_spip ul ul,.formulaire_spip .fieldset fieldset{margin:0}
.formulaire_spip ul,.formulaire_spip fieldset,.formulaire_spip fieldset ul,.formulaire_spip .boutons,.formulaire_spip .titrem,.formulaire_spip .legend{margin-left:-10px;margin-right:-10px}
.formulaire_spip li{padding:.6925em 10px;clear:both;overflow:hidden}
.formulaire_spip li,.formulaire_spip li.gauche{padding-left:140px}
.formulaire_spip .spip li{padding:0;clear:none;overflow:visible}
.formulaire_spip li label,.formulaire_spip li.gauche label{color:#444;width:114px;float:left;margin-left:-130px;text-align:left}
.formulaire_spip .long_label{padding-left:270px}
.formulaire_spip .long_label label{width:250px;margin-left:-260px}
.formulaire_spip .editer_parent,.formulaire_spip .editer_groupe_mot,.formulaire_spip .editer_descriptif,.formulaire_spip .editer_chapo,.formulaire_spip .editer_texte,.formulaire_spip .editer_ps,.formulaire_spip .haut,.formulaire_spip .pleine_largeur{padding-left:10px}
.formulaire_spip .editer_parent label,.formulaire_spip .editer_groupe_mot label,.formulaire_spip .editer_descriptif label,.formulaire_spip .editer_chapo label,.formulaire_spip .editer_texte label,.formulaire_spip .editer_ps label,.formulaire_spip .haut label,.formulaire_spip .pleine_largeur label{display:block;float:none;width:auto;margin-left:0}
.formulaire_spip li.obligatoire label,.formulaire_spip li.obligatoire.gauche label{color:#000;font-weight:700}
.formulaire_spip .erreur_message label{float:none;display:inline;font-weight:400;margin-left:0}
.formulaire_spip input.text,.formulaire_spip input.password,.formulaire_spip textarea,.formulaire_spip select{font-size:1em;padding:3px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.formulaire_spip input.text,.formulaire_spip input.password,.formulaire_spip input.file,.formulaire_spip select{font-size:inherit;font-family:inherit}
.formulaire_spip textarea{padding:.34625em 5px;overflow:auto;font-size:inherit;font-family:inherit;line-height:inherit}
.formulaire_spip input.placeholder,.formulaire_spip textarea.placeholder{color:#888}
.formulaire_spip li.obligatoire input.text{font-weight:700}
.formulaire_spip li .erreur_message{display:block;color:#8A1F11;font-weight:700}
.formulaire_spip .erreur input.text,.formulaire_spip .erreur input.password,.formulaire_spip .erreur textarea{border:2px solid #FBC2C4}
.formulaire_spip .choix label{font-weight:400;text-transform:none;float:none;display:inline;margin-left:5px;color:#666}
.formulaire_spip .choix .radio,.formulaire_spip .choix .checkbox{width:auto}
.formulaire_spip .reponse_formulaire,.error,.success,.notice{border:2px solid;color:#333;font-weight:400;padding:.6925em 10px;padding-left:40px;min-height:24px;background-repeat:no-repeat;background-position:2px 5px;margin-bottom:1.385em;margin-top:1.385em}
.formulaire_spip .reponse_formulaire_ok,.success{color:#264409;border-color:#C6D880;background-color:#E6EFC2;background-image:url("//127.0.0.1/web/ammd/prive/themes/spip/images/ok-24.png")}
.formulaire_spip .reponse_formulaire_erreur,.error{color:#8A1F11;border-color:#FBC2C4;background-color:#FBE3E4;background-image:url("//127.0.0.1/web/ammd/prive/themes/spip/images/erreur-24.png")}
.notice{color:#514721;border-color:#FFD324;background-color:#FFF6BF;background-image:url("//127.0.0.1/web/ammd/prive/themes/spip/images/warning-24.png")}
.formulaire_spip .explication{display:block;padding:5px;background-color:#e9e9e9;margin:0}
.formulaire_spip .attention{display:block;margin-bottom:1.385em;font-weight:400}
.formulaire_spip input.submit,.formulaire_spip input.reset,.formulaire_spip input.button{width:auto}
.formulaire_spip li .aide{padding-top:0}
.formulaire_spip li.fieldset{padding:0}
.formulaire_spip fieldset{border:0;width:auto;border-top:1px solid #ccc;margin-top:.34625em;padding-bottom:.34625em}
.formulaire_spip h3.legend,.formulaire_spip legend{display:block;padding-top:7px;padding-bottom:7px;background-color:#eee;color:#000;font-weight:400;padding-left:10px;padding-right:5px}
.formulaire_spip li fieldset label{color:#444}
.formulaire_spip li fieldset input.text,.formulaire_spip li fieldset textarea.textarea{border:1px solid #aaa}
.formulaire_spip .boutons{margin-bottom:0;clear:both;padding:.6925em 10px;text-align:right;}
#navigation .formulaire_spip .boutons,#extra .formulaire_spip .boutons{padding:.34625em 5px}
.formulaire_spip .boutons .image_loading{float:none}
input[type="file"]{border:none;background-color:transparent}
input[type="submit"],input[type="reset"]{font-size:inherit}
.ie6 .formulaire_spip li label,.ie6 .formulaire_spip li.gauche label{position:relative;display:inline}
.lte7 .formulaire_spip input.text,.lte7 .formulaire_spip input.password,.lte7 .formulaire_spip textarea,.lte7 .formulaire_spip select{width:96%;margin:0;display:inline;margin-left:0}
.lte7 .formulaire_spip textarea{margin-left:10px}
/*========== /Form ==========*/


.selectnav {
	display:none;
}

@media only screen and (max-width: 985px) {
body {
	font-size:12px;
}
.logo, .spip_documents, img {
	max-width:100%;
	height:auto;
}
.swiper-container {
	height:240px;
}
.selectnav {
	display:block;
	width:100%;
	height:30px;
	border:0;
	background-color:transparent;
	color:#000;
	padding:6px 8px;

}
.selectnav option {
	line-height:30px;
}
#navigation {
	display:none;
}
.wrapper {
    width:auto;
	border-radius:0;
}
.content {
    width:auto;
    padding:0;
   float:none;
}
.container {
    width:100%;
	padding:0;

}
.header {
    width:auto;
    padding:0px 8px;
}
.header span {
	margin-left:0;
}
.nav {
    width:auto;
    padding:0px;
	background:#555;
	background:linear-gradient(#555,#666);
	background:-moz-linear-gradient(#555,#666);
	background:-webkit-linear-gradient(#555,#666);
	background:-o-linear-gradient(#555,#666);
}
.aside {
    float:none;
    width:auto;
}
iframe {
	width:100%!important;
}
.footer-logo {
	float:none;
	margin:0 auto;
}
		
.footer {
	text-align:center;
}
.floated {	
	width:auto;
	float:none;
}
}

@media only screen and (max-width: 300px) {
.swiper-slide img {
	width:auto;
	height:100%;
}
}
